    /*
    Flaticon icon font: Flaticon
    Creation date: 27/06/2017 09:22
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-business:before { content: "\f100"; }
.flaticon-island:before { content: "\f101"; }
.flaticon-left-arrow:before { content: "\f102"; }
.flaticon-smartphone:before { content: "\f103"; }
.flaticon-rest:before { content: "\f104"; }
.flaticon-sports:before { content: "\f105"; }
.flaticon-map:before { content: "\f106"; }
.flaticon-remove:before { content: "\f107"; }
.flaticon-house-outline:before { content: "\f108"; }
.flaticon-approve-circular-button:before { content: "\f109"; }
.flaticon-online-book:before { content: "\f10a"; }
.flaticon-squares:before { content: "\f10b"; }
.flaticon-crown:before { content: "\f10c"; }
.flaticon-plane:before { content: "\f10d"; }
.flaticon-backpacker:before { content: "\f10e"; }
.flaticon-right-arrow:before { content: "\f10f"; }
.flaticon-arrows:before { content: "\f110"; }
.flaticon-plus:before { content: "\f111"; }
.flaticon-skyline:before { content: "\f112"; }
.flaticon-heart:before { content: "\f113"; }
.flaticon-forbidden:before { content: "\f114"; }
.flaticon-list:before { content: "\f115"; }
.flaticon-search:before { content: "\f116"; }
.flaticon-calendar:before { content: "\f117"; }
.flaticon-multiply:before { content: "\f118"; }
.flaticon-substract:before { content: "\f119"; }
.flaticon-settings:before { content: "\f11a"; }
.flaticon-interface:before { content: "\f11b"; }
.flaticon-contact:before { content: "\f11c"; }
.flaticon-logout:before { content: "\f11d"; }
.flaticon-shopping-store-cart:before { content: "\f11e"; }
.flaticon-profile:before { content: "\f11f"; }
    
    $font-Flaticon-business: "\f100";
    $font-Flaticon-island: "\f101";
    $font-Flaticon-left-arrow: "\f102";
    $font-Flaticon-smartphone: "\f103";
    $font-Flaticon-rest: "\f104";
    $font-Flaticon-sports: "\f105";
    $font-Flaticon-map: "\f106";
    $font-Flaticon-remove: "\f107";
    $font-Flaticon-house-outline: "\f108";
    $font-Flaticon-approve-circular-button: "\f109";
    $font-Flaticon-online-book: "\f10a";
    $font-Flaticon-squares: "\f10b";
    $font-Flaticon-crown: "\f10c";
    $font-Flaticon-plane: "\f10d";
    $font-Flaticon-backpacker: "\f10e";
    $font-Flaticon-right-arrow: "\f10f";
    $font-Flaticon-arrows: "\f110";
    $font-Flaticon-plus: "\f111";
    $font-Flaticon-skyline: "\f112";
    $font-Flaticon-heart: "\f113";
    $font-Flaticon-forbidden: "\f114";
    $font-Flaticon-list: "\f115";
    $font-Flaticon-search: "\f116";
    $font-Flaticon-calendar: "\f117";
    $font-Flaticon-multiply: "\f118";
    $font-Flaticon-substract: "\f119";
    $font-Flaticon-settings: "\f11a";
    $font-Flaticon-interface: "\f11b";
    $font-Flaticon-contact: "\f11c";
    $font-Flaticon-logout: "\f11d";
    $font-Flaticon-shopping-store-cart: "\f11e";
    $font-Flaticon-profile: "\f11f";