@font-face {
  font-family: 'custom-font';
  src:  url('custom-font.eot?77brpo');
  src:  url('custom-font.eot?77brpo#iefix') format('embedded-opentype'),
    url('custom-font.ttf?77brpo') format('truetype'),
    url('custom-font.woff?77brpo') format('woff'),
    url('custom-font.svg?77brpo#custom-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'custom-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-car:before {
  content: "\e91a";
}
.icon-child:before {
  content: "\e91b";
}
.icon-travellers:before {
  content: "\e91c";
}
.icon-grid:before {
  content: "\e916";
}
.icon-list:before {
  content: "\e919";
}
.icon-less:before {
  content: "\e914";
}
.icon-account:before {
  content: "\e912";
}
.icon-arrow-left:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e915";
}
.icon-map:before {
  content: "\e917";
}
.icon-unfold_more:before {
  content: "\e918";
}
.icon-activity:before {
  content: "\e904";
}
.icon-address:before {
  content: "\e905";
}
.icon-bus:before {
  content: "\e906";
}
.icon-email:before {
  content: "\e90b";
}
.icon-explore:before {
  content: "\e90c";
}
.icon-favorite-trip:before {
  content: "\e90d";
}
.icon-hotel:before {
  content: "\e90e";
}
.icon-itinerary:before {
  content: "\e90f";
}
.icon-location:before {
  content: "\e910";
}
.icon-manage-trip:before {
  content: "\e911";
}
.icon-chat:before {
  content: "\e902";
}
.icon-expand-more:before {
  content: "\e903";
}
.icon-arrow-bottom:before {
  content: "\e900";
}
.icon-calendar:before {
  content: "\e901";
}
.icon-favorite-fill:before {
  content: "\e907";
}
.icon-favorite:before {
  content: "\e908";
}
.icon-fingerprint:before {
  content: "\e909";
}
.icon-plane:before {
  content: "\e90a";
}