@media screen and (min-width: 5000px) and (max-width: 8000px){
  .price-content{min-height: 302px;}
  .flip-container, .front, .back{min-height: 835px; margin-bottom: 20px;}
  .journey-inner{padding: 3px 0;}
  .home-flipContainer .front-image{height: 350px;}
  .journeyBack-inner{min-height: 112px;}
  .packageContainer-new{width: 1500px;}
}

@media screen and (min-width: 3800px) and (max-width: 5000px){
    body:after{min-height: 175px;}
    .banner-inner{width: 1700px; max-width: 2000px;}
    .banner-search .form-control{height: 48px;}
    .banner-search .btn {padding: 3.9px 12px;}
    .journey-details{min-height: 330px;}
    .flip-container, .front, .back{min-height: 790px; margin-bottom: 20px;}
    .front-image{height: 400px;}
	.payment-steps ul li::before{border-bottom: dotted 2px #249DD0; height: 3px;}
  .price-content{min-height: 280px;}
    .home-flipContainer .front-image{height: 350px;}
    .journeyBack-inner{min-height: 93px;}
  .accomodation-listBoxDetails ul {padding-left: 40px;}
  .packageContainer-new{width: 1500px;}
}
@media screen and (min-width: 2500px) and (max-width: 3800px){
    .login-wrapper{background-size: cover; background-position: center;}
    .has-js .login-container .label_check{background-position: left; line-height: normal;}
    .payment-steps ul li::before{top: 14px;}
    .price-content{min-height: 255px;}
    .home-flipContainer .front-image{height: 198px;}
    .home-flipContainer .flight-icon{padding: 6px 9px;}
}

@media screen and (max-width: 1600px){
    .grid-details .price-text{font-size: 19px;}
}

@media screen and (max-width: 1435px) {
    .tabs-container .custom-tabs .nav-tabs>li{padding: 0 28px;}
    /*.price-text{font-size: 23px;}
    .way-text{font-size: 11px;}
    .red-text .price-text{padding-right: 10px; font-size: 23px;}*/
    .grid-tours .grid-details .red-text .price-text {padding-right: 10px; font-size: 18px;}
    .button-tours{width: 92%;}
    .grid-details .price-text { font-size: 16px;}
}

@media screen and (max-width: 1440px){
  .accomodation-price{font-size: 23px;}
}

@media screen and (max-width: 1366px) {
  /*.tabs-content-container, .tabs-content-container p{font-size: 13px;}*/
  .tabs-container {padding: 10px 40px 0 10px;}
  .tabs-content-container{padding: 10px 47px 10px 10px;}
  .caret{border-top: 3px dashed; border-top: 3px solid \9; border-right: 3px solid transparent; border-left: 3px solid transparent;}
  .price-text{font-size: 24px;}
  .way-text{font-size: 11px;}
  .profile-prefrence .drag-list li, .profile-prefrence .drop-list li{width: 90px; height: 90px;}
  /*.yellow-text .price-text, .red-text .price-text{font-size: 17px;}*/
}

@media screen and (max-width: 1280px){
	.price-text{font-size: 18px;}
	.flip-container{height: 600px;}
	.social-links li{margin-right: 4px;}
	.front-image{height: 175px;}
	.accomodation-price{font-size: 19px;}
	.accomodationPrice h3{font-size: 32px;}
	/*.accomodation-tabs-main-container .tabs-container{padding: 10px 40px 0 10px;}*/

  .tabs-container{padding: 10px 40px 0 10px;}
  .tabs-content-container{padding: 10px 40px 10px 10px;}
  .drop-list li{width: 77px; height: 77px;}
  .custom-tabs .nav-tabs>li>a{font-size: 12px;}
  /*.way-text{font-size: 9px;}
  .price-text{font-size: 15px;}*/
  .grid-tours .grid-details .red-text .price-text {font-size: 16px;}
  .grid-details .price-text{font-size: 16px;}
  .package-container .nav-tabs>li>a{/*min-width: 168px;*/}
  .days-text{font-size: 30px;}
}

@media screen and (max-width: 1199px){
	.banner-inner{width: 98%;}
	.price-text {font-size: 17px;}
	.flip-container{height: 655px;}
	.way-text{font-size: 9px;}
	.accomodationPrice h3{font-size: 29px;}
	.social-links li{margin-right: 2px;}
	body::after{min-height: 170px;}
	footer .social-links li>a{width: 29px; height: 29px;}
	footer .social-links li>a>i{font-size: 16px;}
	.footer-menu ul li{padding: 5px 1px;}
	.footer-menu ul li>a::after{margin-left: 4px;}
  .travellerPrice-box h4{font-size: 19px;}
  .trip-container{min-height: 125px;}
  .tripBooking .paymentIcons li{padding: 5px;}
  .content-container-inner{padding: 30px 20px;}

   .tour-title{padding-bottom: 10px;}
   .place-image{height: 100px;}
   /*.price-text{font-size: 15px;}*/
   .footer-logo img{padding-left: 0px;}
   .social-links li{margin-right: 5px;}
   .label_check.m-r-10{margin-left: 6px;}
   .tabs-container, .tabs-content-container{padding-right: 10px;}
   .tabs-container .custom-tabs .nav-tabs>li{padding: 0 0px;}
   .custom-tabs .nav-tabs>li{padding: 0 4px; font-size: 11px;}
   .location-wrapper{font-size: 12px; display: none;}
   .tabs-wrapper{margin-left: 49px;}
   .hotel-block{width: 49.6%;}
   .hotel-bg{font-size: 13px;}
   .banner-inner{width: 955px;}
   .form-control.top-selectbox{margin-top: 7px;}
   /*.navbar-default .navbar-nav>li>a{padding: 15px 2px 10px 2px; font-size: 12px;}*/
   .search-text {padding: 15px 10px 10px 10px;}
   #round-profile-picture{width: 20px; height: 20px; top: -1px; margin-right: 1px;}
  /* .flip-container, .front, .back {min-height: 655px;}*/
   /*.way-text{font-size: 11px;}*/
   .button-tours{width: 94%;}
   /*.front-image{height: 175px;}*/
   .package-container .nav-tabs>li>a{/*min-width: 114px;*/ padding: 8px 10px;}
   .carousel-indicators{bottom: 8px;}
   .price-content{min-height: 298px;}
   .days-text{font-size: 25px;}
   .navbar-default .navbar-brand{width: 130px;}
}

@media screen and (max-width: 991px){
	.banner-caption{top: 57%; transform: translateY(-65%);}
	.flip-container {height: 550px;}
	.packages .dropdown-menu>li>a{padding: 6px 15px;}
	 .page-sidebar{position: absolute; overflow-y: auto; height: calc(100% - 47px); width: 300px; z-index: 999;} /* 16-5-2018 */
  .page-content {margin-left: 0px;}
  .left-strip.accomodationleftstrip{left: 300px;/*z-index: 999999999;*/ z-index: 999;} /* 16-5-2018 */
	.pageSidebar-inner{padding: 0 10px;}
	.tabs-content-container, .accomodation-wrapper, .accomodation-bottom-inner, .accomodation-bottom-content, .transportWrapper{height: 100% !important; overflow: visible !important;} /* 16/3/2018 */
	body::after{min-height: 170px;}
	.arrow-btn-new{height: calc(100% - 164px) !important;}
	.accomodation-tab{margin-bottom: 10px;}
	.footer-menu ul li{padding: 5px 4px;}
	.footer-menu ul li>a::after{margin-left: 7px;}

   .modal-lg{width: 700px;}
   .modal-container{padding-right: 10px;}
   .transport-border.text-left{text-align: center;}
   .transport-border {min-height: 87px;}
   .location-wrapper{display: none;}
   .search-text {padding: 14px 5px 10px 5px;}
   /*.navbar-default .navbar-nav.navbar-right>li{font-size: 11px;}*/
   .form-control.top-selectbox{font-size: 12px; width: 190px; margin-top: 3px;}
   /*.carousel-logo{width: 80px;}*/
   .modal-large{width: 95%;}
   .transport-map-wrapper .mapIcons-wrapper{position: static;}
   .transport-map-wrapper .location-wrapper{display: block; width: 75%;}
   .inner-page.homepage-activity .location-wrapper{width: 100%;}
   .transport-map-wrapper .arrow-btn{display: none;}
   .transport-map-wrapper .tabs-wrapper{margin-left: 0px;}
   .custom-tabs{padding-left: 0px;}
   .location-wrapper{height: initial; min-height: initial;}
   .banner-inner{width: 94%;}
   .has-js .banner-search .checkbox-group .label_check{padding-left: 25px;}
   .help-wrapper{margin-top: 0px;}
   .btn{padding: 9px 8px;}
   .btn-primary{font-size: 13px;}
   #round-profile-picture{display: none;}
   /*.journey-details {min-height: 200px;}*/
   .login-container{width: 90%;}
   .banner-inner{padding: 9px 15px;}
   .banner-search{top: 30%; transform: translateY(-30%);}
   .page-content{margin-left: 0px;}
   .left-strip{left: 300px; z-index: 1;}
   /*.page-sidebar{position: absolute; overflow-y: auto; height: 100%; width: 300px; display: none;}*/
   /*.front-image{height: 225px;}*/
   .searchControl .panel-form-group input:not([type]), .searchControl .panel-form-group input[type=text], .searchControl .panel-form-group input[type=password], .searchControl .panel-form-group input[type=email], .searchControl .panel-form-group input[type=url], .searchControl .panel-form-group input[type=time], .searchControl .panel-form-group input[type=date], .searchControl .panel-form-group input[type=datetime], .searchControl .panel-form-group input[type=datetime-local], .searchControl .panel-form-group input[type=tel], .searchControl .panel-form-group input[type=number], .searchControl .panel-form-group input[type=search], .searchControl .panel-form-group textarea.materialize-textarea{padding: 0px; position: relative; top: -2px;}
   .search-btn .btn{font-size: 13px; padding: 9px 5px;}
   .children-block{margin-top: 0px;}
   .search-mainWrapper .search-wrapper{margin-top: 0px;}
   .searchControl .panel-form-group{margin-bottom: 6px; line-height: 1.4;}
   .search-mainWrapper .search-wrapper{padding: 10px 15px;}
   .homeSearch{margin-top: 4px;}
   .navbar{min-height: 40px;}
   .navbar-default .navbar-nav>li>a{padding: 8px 10px 10px 10px;}
   .banner-container{margin-top: 40px;}
   .banner-inner h1{font-size: 30px;}
   .packages .btn-default{padding: 9px 13px;}
   .package-container .nav-tabs>li>a {/*min-width: 80px;*/ padding: 8px 6px;}
   .btn.btn-secondary.m-t-80{margin-top: 0px;}
   .package-wrapperInner .panel-form-group{margin-bottom: 15px;}
   .background-gray{min-height: 62px;}
   .price-content{min-height: 206px;}
   .home-flipContainer .journey-details{min-height: 250px;}
   .packageContainer-new{width: 100%;}
   .navbar-default .navbar-brand{width: 120px;}
}

/*@media screen and (max-width: 865px) {
  .navbar-default .navbar-nav>li{font-size: 10px;}
  .banner-inner{width: 98%;}
  .banner-searchbox{width: 58%;}
  .search-label{width: 25%;}
}*/

@media screen and (max-width: 767px){
	.padding-0{padding: 10px;}
	.banner-caption{position: relative; top: 0px; transform: none; color: #212121; background-color: #f9f9f9;}
	.search-control .form-control{box-shadow: 0 2px 5px 0 rgba(149,149,149,0.50)}
	.banner-inner{color: #212121; padding: 30px 0;}
	.front-image{height: 300px;}
	body::after{min-height: 224px;}
	.sociallinks-container{text-align: center;}
	.footer-logo img{margin: 5px auto 20px auto;}
	.flip-container{height: 620px;}
	.modal-dialog.modal-md{width: 98%;}
	#loginModal .text-right, #registerModal .text-right, .search-mainWrapper .prefrence-right{text-align: left;}
	.search-mainWrapper .prefrence-right{margin-top: 5px;}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a{color: #fff;}
	.searchMode-container .panel-form-group{margin-bottom: 10px;}
	.content-toogle-icon{text-align: left; margin-top: 10px;}
	.content-toogle-icon .nav-tabs>li>a{padding: 0 10px 0 0;}
	.price-right{text-align: left;}
	.accomodation-listBoxImg img{width: 100%; margin-bottom: 10px;}
	.tabs-container .panel-container h4{margin-bottom: 10px;}
	.panel-body .accomodationPrice{text-align: left;}
	.accomodation-bottom-content .panel-body{padding: 20px;}
	.profile-steps ul li::before{top: 13px;}
	.content-container{padding: 30px 10px;}
	.banner-caption .search-control{box-shadow: none;}
	.flip-container .border-right-gray, .accomodation-gridBox .border-right-gray{border-right: solid 1px #979797;}
	.accomodation-bottom-inner .padding-right-0{padding-right: 10px;}
	.masterCard-icon{margin-bottom: 10px;}
  .banner-inner .search-btn .btn-primary{min-width: auto;}

	.padding-left-0{padding-left: 10px;}
   /*.navbar-default .navbar-nav>li>a {padding: 8px 10px;}*/
   .trending-details{top: 50%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%);}
   .trending-box{margin: 0;}
   .place-image{height: 170px;}
   /*.footer-logo img{margin: 0 auto;}
   footer .col-sm-7.text-right{text-align: center; margin-top: 10px;}*/
   /*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{color: #212121; background-color: #fff; border-bottom: none;}
   .navbar-default .navbar-nav>li>a{border-bottom: none;}
   .navbar-default .navbar-nav .open .dropdown-menu>li>a{color: #fff;}
   .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{background-color: #fff; color: #212121;}*/
   /*.banner-wrapper{height: 1000px;}*/
   .checkbox-group{text-align: left;}
   .checkbox-group .radio-checkbox{display: inline-block; width: 45%; margin-bottom: 6px;}
   .label_check.m-r-10{margin-left: 0px;}
    body::after{min-height: 225px;} /* 29/11/2017 */
   .location-wrapper{width: 360px;}
   .modal-lg{width: 97%;}
   .custom-tabs{margin-top: 10px;}
   .transport-border.text-left{text-align: center;}
   .transport-border {/*border-bottom: solid 1px #E0E0E0; */padding-top: 5px; padding-bottom: 5px; min-height: 87px;}
   .price-sign{text-align: left;}
   .tab-pane .padding-right-0{padding-right: 10px;}
   .inner-page.homepage-activity .map-wrapper, .inner-page.homepage-activity .location-wrapper, .inner-page.homepage-activity .hotel-container{min-height: initial;}
   .hotel-container .carousel-inner .thumbnail{margin-bottom: 10px;}
   .transport-map-wrapper .mapIcons-wrapper{position: static;}
   .transport-map-wrapper .location-wrapper{display: block; width: 70%;}
   .transport-map-wrapper .arrow-btn{display: none;}
   .transport-map-wrapper .tabs-wrapper{margin-left: 0px;}
   .custom-tabs{padding-left: 0px;}
   .location-wrapper{height: initial; min-height: initial;}
   .right-align{text-align: left;}
   .custom-tabs .dropdown-menu{left: 0px; min-width: 160px;}
   .list-box .col-xs-9.text-right{text-align: left;}
   .listbox-img{margin-bottom: 15px;}
   .tour-wrapper .carousel-inner .thumbnail{margin-bottom: 10px;}
   .tour-accordian .panel-body .col-sm-8 .col-md-5.col-sm-6.text-right{text-align: left !important;}
   .price-block{min-height: initial; min-height: initial; margin-top: 5px; margin-bottom: 10px;}
   .tour-accordian .panel-title .black-box{text-align: right;}
   .person-price{text-align: left; margin-top: 10px;}
   .collapse-icon{margin-top: 10px;}
   .desktop-block{display: none;}
   .mobile-block{display: block;}
   .team-section .place-wrapper .place-details{padding-bottom: 0px;}
   .mapIcons-wrapper .location-inner .btn-block{margin-bottom: 10px;}
   .map-icon-title{min-width: 135px; padding: 2px 10px;}
   .banner-search{position: static; top: 0; transform: none; background-color: #212121;}
   .advance-right{text-align: left !important;}
   .banner-search .checkbox-group label.radio-checkbox{display: block;}
   .modal-dialog{margin-top: 100px;}{margin-top: 80px;}
   .banner-inner{width: 100%;}
   .banner-searchbox{width: 71%;}
   .search-label{width: 29%;}
   /*.banner-inner .checkbox-group .radio-checkbox{width: 100%;}
   .navbar-default .navbar-nav>li{font-size: 13px;}
   .navbar-default .navbar-nav.navbar-right>li{font-size: 12px;}*/
   .profile-container{margin-left: 0px; margin-top: 15px;}
   .profile-left-container{position: static; width: 100%; float: none;}
   .control-label{margin-bottom: 10px;}
   .interest-text{margin-top: 10px;}
   footer .col-sm-6.col-xs-12.text-right{text-align: center;}
   /*#map1{height: initial;}*/
   .searchbox-new .padding-right-0{padding-right: 10px;}
   .searchbox-new .form-control{margin-bottom: 8px;}
   footer .col-sm-5.col-xs-12.text-right{text-align: center;}
    .payment-page .btn-primary{margin-bottom: 10px;}
    .searchbox-new .form-control {box-sizing: border-box;}
    .loader-block{width: 85%;}
    #perPersonCost{margin-bottom: 8px;}
    #map-loader{z-index: 2;}
    .booking-summary .data-loader{top: 10% !important;}
    .custom-list-wrapper .listbox-img{width: 100%; float: none; height: auto !important;}
    .custom-list-wrapper .listbox-details {margin-left: 0;}
    .listbox-details .btn-primary{margin-top: 10px;}
    .tabs-container .input-group.search-control{margin-bottom: 20px;}
    .transport-price{line-height: normal !important;}
    .transportButton{margin-top: 10px;}
    .transport-map-wrapper.brochure-wrapper .location-wrapper{z-index: 3;}
    #loadLoginModal .modal-dialog, #forgotModal .modal-dialog{width: 95% !important;}
    .modal-container .btn-primary{margin-bottom: 10px;}
    .login-container{width: 95%;}
    .login-container .btn-primary{margin-bottom: 10px;}
    /*.banner-inner .padding-0 .form-control{margin: 0;}
    .banner-search .form-control{box-sizing: border-box; padding:  0 12px; margin: 10px 0;}
    .banner-inner .padding-0{padding: 10px;}
    .banner-inner .padding-right-0{padding-right: 10px;}
    .banner-container {margin-top: 48px;}*/
    .list-wrapper .activity.list-box .border-right{border-right: none;}
    .padding-left-5 {padding-left: 10px;}
    #gridTourList .grid-img{height: auto;}
    /*.flip-container, .front, .back{min-height: 540px;}*/
    .border-right-gray{border-right: none;}
    /*.flipper .front img{max-height: initial;}*/
    .banner-container{margin-top: 51px;}
    /*.navbar{padding-right: 0px;}
    .flip-container, .front, .back {min-height: 550px;}*/
    .banner-title-new{font-size: 40px;}

    .accomodation-listBox .accomodation-listBoxImg{width: 100%; height: initial; float: none;}
    .accomodation-listBox .accomodation-listBoxDetails{margin-left: 0px;}
    .error-inner{width: 90%;}
    footer .col-sm-7.text-right{text-align: center;}
    .padding-right-0.search-btn{padding-right: 10px;}
    .banner-inner .search-btn{margin-bottom: 10px;}
    .children-block{margin-top: 10px; color: #fff;}
    .search-mainWrapper .panel-form-group{margin-bottom: 10px;}
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{border: none;}
    .navbar-collapse{box-shadow: none;}
    .carousel-indicators li{background-color: #ececec;}
    .package-wrapperInner .panel-form-group{margin-bottom: 10px;}
    .package-container .nav-tabs>li>a{min-width: initial; margin: 0;}
    .package-container .nav-tabs>li{width: 49%; margin-bottom: 8px;}
    .package-container .nav-tabs>li{margin-left: 5px;}
    .package-wrapperInner{padding: 15px 0px;}
    p.banner-price{font-size: 42px;}
    .left-spacing{padding-left: 0px;}
    .price-content{min-height: initial; text-align: left;}
    .home-flipContainer .journey-details{min-height: 338px;}
    .tripCity-inner .accomodation-listBoxImg{width: 100%; height: initiak; float: none;}
    .tripCity-inner .accomodation-listBoxDetails{margin-left: 0px;}
    .hotelFacility ul li{float: none; width: 100%;}
    .accomodation-desc{float: none;}
    .daysBlock{top: 0px; margin-top: 10px; margin-bottom: 5px; padding: 5px 10px;}
    .navbar-default .navbar-brand{width: 150px;}
}

@media screen and (max-width: 639px) {
    /*.footer-menu ul li{float: none; padding: 10px 0;}
    .footer-menu ul li>a::after{display: none;}
    body::after{min-height: 451px;}*/
    .location-wrapper{width: 255px;}
    .transport-map-wrapper .location-wrapper{display: block; width: 84%;}
    .custom-tabs .nav-tabs>li{font-size: 13px; min-height: 50px;}
    .homepage-activity .custom-tabs .nav-tabs>li{min-height: 35px;}
    .loc-icon {width: 24px; font-size: 20px; position: relative; top: -2px;}
    .location-content{margin-left: 35px;}
    .map-icon a:hover .map-icon-title, .map-icon a.active .map-icon-title{visibility: hidden; display: none;}
    .banner-searchbox{width: 100%;}
    .search-label{width: 100%; text-align: left;}
    .banner-search .form-control{padding-left: 5px;}
    .hidden-pipe{display: none;}
    .loc-icon svg{width: 20px !important;}
    .location-content{margin-left: 24px;}
    .custom-tabs .nav-tabs>li{width: initial !important;}
    .custom-tabs .nav>li>a{padding: 10px 8px;}
    .hotel-container .custom-tabs .nav-tabs>li>a{padding: 10px 0px;}
    .login-wrapper{min-height: 1270px;}
    .has-js .login-container .label_check{background-position: left;}
    /*.journey-details {min-height: 255px;}*/
    .tour-accordian .panel-default{margin: 0 2px;}
    .package-container .nav-tabs>li{width: 48%; font-size: 13px;}

}

@media screen and (max-width: 567px){
	body::after {min-height: 240px;}
	.front-image{height: 240px;}
	.profile-steps ul li{word-wrap: break-word;}
	.circle{width: 25px; height: 25px;}
	.copyright-content{padding: 0 27px;}
}
